
* {  
    font-family: Kanit;
}
body {
    
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-avatar {
    height: 50px;
    width: 50px
}

#user-info {
    display: flex;
    flex-direction: row;
}
