
* {
    font-family: Kanit;
}

.avatars {
    width: 200px;
    height: 200px;
}

#main-body {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#main {
    display: flex;
    flex-direction: column;
    border: 20px solid black;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    background-color: white;
} 

#name-label {
    display: flex;
    flex-direction: column;
    font-family: kanit;
    align-items: center;
}

.avatar-label input[type=radio]{
    display: none;
}

.avatars {
    filter: grayscale(100%);
    border-radius: 25%;
    border: 5px solid gray;
    height: 150px;
}
.avatar-label input[type=radio]:checked + img {
    border: 5px solid #fcd247;
    filter: grayscale(0%)
}

#main-h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 200px;
    margin-top: 10px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-avatar {
    height: 50px;
    width: 50px
}

#user-info {
    display: flex;
    flex-direction: row;
}
